@import url('bootstrap-icons/font/bootstrap-icons.css');

.card {
  background-color: #f0f4f8;
  padding: 20px;
  margin: 20px auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 60%;
  font-family: 'Segoe UI', sans-serif;
}

.card h2 {
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.card p {
  font-size: 16px;
  margin: 10px 0;
}

.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 15px;
}

.feedback button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.feedback i {
  font-size: 28px;
  color: #f39c12;
  transition: transform 0.2s;
}

.feedback i:hover {
  transform: scale(1.2);
}

.feedback span {
  font-size: 20px;
  font-weight: bold;
  color: black;
}
