@import url('bootstrap-icons/font/bootstrap-icons.css');

.cart-bar {
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px;
  font-weight: bold;
  font-family: 'Segoe UI', sans-serif;
}

.cart-bar i {
  font-size: 26px;
  margin-right: 10px;
  color: red;
}

.badge {
  background-color: red;
  color: white;
  padding: 6px 14px;
  border-radius: 16px;
  font-weight: bold;
  font-size: 16px;
  margin-left: 6px;
}

.product-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 25px;
  padding: 20px;
}

.product-card {
  border: 1px solid gray;
  background-color: lightgray;
  border-radius: 12px;
  padding: 16px;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-card h3 {
  color: red;
  margin-top: 15px;
  font-size: 20px;
}

.product-card p {
  font-size: 16px;
  margin: 10px 0;
  color: black;
}

.product-card button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.product-card button:hover {
  background-color: red;
}
